body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, main, footer {
  padding-left: 300px;
}

nav.top-nav {
	height: 122px;
	box-shadow: none;
  color: #fff;
  background-color: #ee6e73;
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 4.5%;
  top: 0;
  float: none;
  color: #fff;
  font-size: 36px;
  z-index: 2;
}
nav.top-nav .page-title {
	line-height: 122px;
	font-size: 48px;
}

a.button-collapse.top-nav i {
  font-size: 32px;
}
a.button-collapse.top-nav.full {
	line-height: 122px;
}

.side-nav.fixed .logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.side-nav.fixed .punch-line {
    line-height: 44px;
    margin-bottom: 1em;
}
.side-nav li {
    float: none;
    line-height: 48px;
}

.side-nav.fixed a {
	line-height: inherit;
	height: inherit;
	padding: 0;
}

.side-nav.fixed a:hover {
  background-color: none;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  nav .nav-wrapper .page-title {
	  font-size: 36px;
  }
  nav .nav-wrapper {
	  text-align: center;
  }
}
